[Unit]
Description=Butler Gunicorn service
After=network.target

[Service]
User=loktar
Group=loktar
WorkingDirectory=/home/loktar/serv/butler
EnvironmentFile=/etc/butler/butler.env
ExecStart=/home/loktar/serv/butler/.venv/bin/gunicorn --workers 2 --bind 0.0.0.0:5050 wsgi:app
Restart=always
RestartSec=3
PrivateTmp=true

[Install]
WantedBy=multi-user.target