BUTLER_SECRET_KEY=change-me-to-a-long-random-secret
BUTLER_DATABASE=/home/loktar/serv/butler/instance/butler.sqlite3

BUTLER_HOST=0.0.0.0
BUTLER_PORT=5050

BUTLER_ADMIN_USER=admin
BUTLER_ADMIN_PASS=change-me-now

BUTLER_FIREWALL_TARGET=/etc/nftables.d/butler.nft
BUTLER_NFTABLES_CONF=/etc/nftables.conf